*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1120px;
    margin: 0 auto;
}
.primary-color{
    color: #FD6E0A;
}
.primary-btn{
    color: #fff;
    background-color: #FD6E0A;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    border: 2px solid #FD6E0A;
}
header{
    padding: 20px 0 0 0;
}
.banner{
    background-image: url("../images/header_bg.png"), url(../images/developer.png);
    background-position: bottom right, center left;
    background-repeat: no-repeat;
    background-size: auto, auto;
    background-color: #FFF8F3;
}
.logo-area h3{
    font-size: 35px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-area ul{
    display: flex;
    align-items: center;
}
.menu-area ul li{
    list-style: none;
    padding: 0 20px;
}
.menu-area button{
    cursor: pointer;
    font-size: 18px;
    margin-left: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content h3{
    font-size: 2rem;
    font-weight: 300;
}
.banner-content h1{
    font-size: 5rem;
}
.banner-content p{
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    padding: 25px 0;
}
.btn-2{
    background-color: transparent;
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 10px;
}

/* About Section  */

.about{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
    background-color: #FFF8F3;

}
.about h2{
    font-size: 3rem;
}
.about p{
    font-size: 18px;
    font-weight: 300;
    padding: 15px 0;
    line-height: 30px;
}
.about-feature{
    display: flex;
    justify-content: space-between;
}
.feature-title-area h3{
    font-size: 3rem;
    text-align: center;

}
.feature-title-area p{
    font-size: 18px;
    padding: 15px 0;
    text-align: center;
    line-height: 30px;
}
.experience-feature .row{
    display: flex;
    gap: 24px;
    margin: 50px 0;
    
}
.experience-feature .column-3{
    padding: 40px 25px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.experience-feature h3{
    padding: 15px 0;
}
.experience-feature p{
    line-height: 30px;
}
.resume-title h2{
    text-align: center;
    font-size: 3rem;
}
.resume{
    padding: 80px 0;
}

.resume-item{
    display: flex;
    gap: 50px;
    padding: 50px 0;
}
.resume-list{
    padding: 30px 0;
}
.resume-list h4{
    padding: 15px 0;
    font-weight: 600;
    color: grey;
}
.resume-list p{
    line-height: 30px;
}
.resume-list h2{
    padding-bottom: 50px;
}
.resume .primary-btn{
    text-align: center;
    display: block; 
    margin: 0 auto;
}
